<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Republish {{story_title}} - Side Effects</title>
		<!-- Pure CSS - Super Lightweight base styles -->
		<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
		<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.publicradiocode.org/sfx/repub-magic/v1/rainbow-baby-blue.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/rainbow.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/html.min.js"></script>
		<style type="text/css">
			h3{
				color: #888;
				font-weight: 400;
			}
		</style>
	</head>
	<body>
		<div id="layout">
			<div id="main">
				<div class="content">
					<div class="header">
						<img src="http://mediad.publicbroadcasting.net/p/wfyi/files/201510/SideEffectsLogo.gif">
						<h1>Republish this Story</h1>
					</div>


					<div id="story-preview">
						<div class="image-contain">
							<img class="story-image" src="{{story_image}}"></img>
						</div>
						<div class="story-desc">
							<div class="center">
								<h2>{{ story_title }}</h2>
								<p>{{ story_author }}</p>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<p><a href="{{story_canonical_url}}">Return to Story</a></p>

					<h2 id="general" class="content-subhead">
					General Guidelines and Requirements
												<a href="#general" class="content-link" title="Heading anchor"></a></h2>
					<p>Side Effects Public Media welcomes the republication of any of our original reporting. However, we require that you do the following:</p>
					<h3>Credit</h3>
					<ol>
						<li>Credit and link back to us as follows: "This story was produced by <a href="http://www.sideeffectspublicmedia.org">Side Effects Public Media,</a> a news collaborative covering public health."</li>
						<li>If you republish our photographs or graphics, use the same credits that appear with our images.</li>
						<li>Use our reporters' bylines. We prefer "Author Name, Side Effects."</li>
					</ol>
					<h3>Editing</h3>
					<ol>
						<li>Side Effects uses AP style. Edit only to reflect relative changes in time or location (for example, changing "yesterday" to "last week" and "Columbia, Missouri" to "Columbia" or "here") or to conform to your newsroom style. Do not pull soundbites to use out of the larger context.</li>
						<li>Include all the links that are in the story.</li>
					</ol>

					<h2 id="for-public-radio-tv" class="content-subhead">
						For Public Radio and TV Stations
						<a href="#for-public-radio-tv" class="content-link" title="Heading anchor"></a>
					</h2>

					<p>All Side Effects original reporting can be pulled in with the NPR Story API, a feature available on Core Publisher and many other public media web systems. If you're unsure how to do this, contact your station webmaster for more information.</p>

					<table class="pure-table pure-table-horizontal">
						<thead>
							<td>
								ID Information for NPR API Use
							</td>
							<td></td>
						</thead>
						<tbody>
							<tr>
								<td>Side Effects Public Media's Station/Organization ID</td>
								<td>4780019</td>
							</tr>
							<tr>
								<td>This Story's ID (Use "Get NPR Content" Menu)</td>
								<td>{{story_id}}</td>
							</tr>
						</tbody>
					</table>

					<h2 id="for-other-publications" class="content-subhead">
						For Other Publications
						<a href="#for-other-publications" class="content-link" title="Heading anchor"></a>
					</h2>

					<h3>Online</h3>
					<ol>
						<li>To republish this story, copy and paste the HTML below into the "source" view of your content management system (ex: Wordpress, Drupal, etc).  Include our tracking tag, which is embedded at the end of the story.  The tag tells us who is sharing our stories.</li>
						<li>If you choose to rebuild the story in your CMS, be sure to include the tag for the specific story; the HTML is provided in a separate box at the bottom of the page.</li>
						<li>If you cannot use our tracking tag for some reason, e-mail our editor at <a href="mailto:sideeffects@wfyi.org">sideeffects@wfyi.org</a>.</li>
					</ol>
					<h3>For Radio/Streaming Audio</h3>
					<p>For outlets with an existing subscription to PRX, Side Effects prefers that you use it to download stories because of the back end analytics it gives us. For others, we recommend, but do not require, the use of PRX.  If you want to use radio stories but do not have access to the platform, get in touch with us at <a href="mailto:sideeffects@wfyi.org">sideeffects@wfyi.org</a>.</p>
					<h3>Print</h3>
					<p>You have two options for republishing in print:  highlight and copy the page or request an editable (typically MS Word) file from our editor at <a href="mailto:sideeffects@wfyi.org">sideeffects@wfyi.org</a>.</p>
					

					<h2 id="code" class="content-subhead">
						Source Code for Republication
						<a href="#code" class="content-link" title="Heading anchor"></a>
					</h2>

					<h3>Full Story</h3>

					<p>To republish this story, copy and paste the HTML below into the "source" view of your CMS (ex: Wordpress, Drupal, etc):</p>

					<pre class="code code-wrap" data-language="html"><code>{{story_html}}</code></pre>

					<h3>Tracking Code</h3>

					<p>Or, if you have already re-created the story in your own CMS, just add this tracking code to the bottom:</p>

					<pre class="code code-wrap" data-language="html"><code>{{story_tracking_code}}</code></pre>

				</div>


				
			</div>
		</div>
		
	</body>
</html>